body {
  font-family: sans-serif;
}

.text {
  font-weight: bold;
}

p[class='text muted-text'] {
  font-weight: 100;
}

/* commas thisElement, AND thatElement */
h1, h2, h3 {
  margin-bottom: 0;
  margin-top: 0;
}

/* specifically an HTML element with this class */
a.button {
  color: white;
  background-color: firebrick;
  /* using CSS shorthands */
  padding: 2% 5%;
  border: 1px solid firebrick;
  border-radius: 5px;
}

/* target this, with the pseudoclass "hover", and apply these rules */
a.button:hover {
  cursor: pointer;
  background-color: gold;
}

.box {
  margin: 30px;
  background-color: red;
}


.box-model {
  background-color: #ccc;
}

.box-model div {
 
  border: 2px solid red;
}